<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/default">
    <head>
        <title>Список задач</title>
    </head>
    <div layout:fragment="content">
        <script>
            //<![CDATA[
            $(document).ready(function() {
                $('input[name="_clear"]').click(function(){
                    $('input[type="text"]').val('');
                    $('select').val('');
                });
            });
            //]]>
        </script>
        <div class="col-sm-12">
            <form action="#" th:action="@{/todo/todos.html}" th:object="${command}" method="post" class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading initialism">
                        Поиск задач
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Название задачи:
                            </label>
                            <div class="col-sm-3">
                                <input type="text" th:field="*{todoNameFilter}" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-4">
                            <input class="btn btn-primary btn-sm"  type="submit" value="Поиск"/>
                            <input class="btn btn-primary btn-sm"  type="submit" value="Очистить" name="_clear"/>
                        </div>
                    </div>
                </div>
            </form>


            <div th:include='layouts/pagination :: paginationbar' ></div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="action-button">
                            <a href="/todo/todoEdit.html" th:href="@{'/todo/todoEdit.html?todoId='}">
                                <i class="fa fa-plus-circle" aria-hidden="true" title="Добавить задачу"></i>
                            </a>
                        </th>
                        <th></th>
                        <th>Название задачи</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="todo : ${list.list}">
                        <td >
                            <a  href="/todo/todoDelete.html"
                            th:href="@{'/todo/todoDelete.html?todoId=' + ${todo.todoId}}"><i class='fa fa-remove' aria-hidden='true' title="Удалить"></i></a>
                            <a href="/todo/todoEdit.html"
                            th:href="@{'/todo/todoEdit.html?todoId=' + ${todo.todoId}}"><i class='fa fa-pencil' aria-hidden='true' title="Редактировать"></i></a>
                        </td>
                        <td>
                            <a class="checkbox-rect" href="/todo/todoCheck.html" th:href="@{'/todo/todoCheck.html?todoId=' + ${todo.todoId}}">
                                <input type="checkbox" th:checked="${todo.checked}"/>
                                <label></label>
                            </a>
                        </td>
                        <td th:text="${todo.name}">name</td>
                    </tr>
                </tbody>
            </table>
            <div th:include='layouts/pagination :: paginationbar' ></div>
        </div>
    </div>
</html>